<app-layoutadmin></app-layoutadmin>

<table class="contain" border="1" >
  <thead>
  <tr >
    <th  style="text-align: center">Email</th>
    <th  style="text-align: center">User Name</th>
    <th style="text-align: center">Full Name</th>
    <th  style="text-align: center">Phone Number</th>
    <th  style="text-align: center">Address</th>
    <th style="text-align: center">Role</th>
   
  
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of array ">

    <td>  {{data.email}}</td>
    <td>  {{data.userName}}</td>
    <td>  {{data.fullName}}</td>
    <td>  {{data.phoneNumber}}</td>
  
    <td>  {{data.address}}</td>
    <td>  {{data.role}}</td>
  
    
    
   
    
  

  </tr>
</tbody>
</table>

