<app-layoutadmin></app-layoutadmin>
<div  style="margin-left: 300px;font-size: 30px;">List all user</div><br>
<button (click)="ExportTOExcel()" style="margin-left: 300px;background-color: #82C0E7;">Download xlsx</button>
<table class="styled-table" border="1" #TABLE #table>
  <thead>
  <tr >
    <th  style="text-align: center">Email</th>
    <th  style="text-align: center">User Name</th>
    <th style="text-align: center">Full Name</th>
    <th  style="text-align: center">Phone Number</th>
    <th  style="text-align: center">Address</th>
    
   
  
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of arrayalluser ">

    <td>  {{data.email}}</td>
    <td>  {{data.userName}}</td>
    <td>  {{data.fullName}}</td>
    <td>  {{data.phoneNumber}}</td>
  
    <td>  {{data.address}}</td>
 
  
    
    
   
    
  

  </tr>
</tbody>
</table>




