<app-layoutadmin></app-layoutadmin>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<div class="newproduct">
    Create New Company Car <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;"  >Create</button> <br>
</div>
<body>

    
    
    <div id="id01" class="modal">
        
       <app-layoutadmin></app-layoutadmin>
         <form class="modal-content"   [formGroup]="formGroup" (ngSubmit)="createCompany()" >
           <div class="container">
            <a (click)="cancle()" style="color: red;float: right;font-size: 35px;cursor: pointer;">X</a> <br> <br>
             <h1>Create Company Car</h1>
             <p>Please fill in this form .</p>
             
             <hr>
             <label for="psw"><b>Name company</b></label>
             <input  formControlName="carCompanyName" type="text" value="" placeholder="Enter name"  name="psw" required>
             <label for="psw"><b>Logo</b></label>
             <br><br>
             <input type="file"  (change)="onFileSelected($event)"  value="" placeholder="Enter full name"  name="psw" required > <br><br>
               
       
             
             
            
             
           
       
             <div class="clearfix">
               <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
               <button type="submit"  class="signupbtn" >Create</button>
             </div>
           </div>
         </form>
       </div>
    <script>
    // Get the modal
    var modal = document.getElementById('id01');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
   
    </script>
    
    </body>
<br>
<table class="contain" border="1" >
  <thead>
  <tr >
    <th  style="text-align: center">Image</th>
    <th  style="text-align: center">Name car</th>
    <th  style="text-align: center">Delete</th>
   
   
   
  
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of array ">

    <td> <img src="{{data.logoCompany}}" width="100px" height="100px" alt=""> </td>
    <td>  {{data.carCompanyName}}</td>
    <td><button style="text-align: center;;" class="cancelbtn" (click)="deleteCompany(data._id)" > Delete</button> </td>
   
    
    
   
    
  

  </tr>
</tbody>
</table>

