<!DOCTYPE html>
<html>
<head>
	<title>About Us Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	
</head>	
<app-layout *ngIf="!isadmin"></app-layout>
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>{{nameCompany}}</h3>
                    <p> Số điện thoại: {{phoneNumber}}</p>  
                    <p>Số Fax: {{fax}}</p> 
                    <p>
                        Email: {{email}}
                    </p>
					<p>Địa chỉ : {{address}}</p>
                    <p>
                        {{description}}
                    </p>
                    <!-- <p>
                        ✪ Đại lý ủy quyền phối xe BMW chính hãng tại Việt Nam.
                    </p>
                    <p>
                        ✪ Đại lý xe Porche
                    </p>
                    <p>
                        ✪ Kinh doanh, nhập khẩu xe ô tô, xe chuyên dùng và máy móc thiết bị của các hãng Toyota, Lexus, Audi, Land Rover, Mitsubishi…
                    </p>
                    <p>
                        ✪ Sửa chữa, bảo dưỡng các loại xe ô tô.
                    </p>
                    <p>
                        Với kinh nghiệm gần 10 năm trong lĩnh vực ô tô, bằng chính sự nhiệt huyết, năng động, phục vụ tận tâm, Công Ty LT đã tạo được uy tín và khẳng định được mình trên thị trường xe ô tô nhập khẩu tại Việt Nam cũng như từng bước khẳng định vị thế trong lòng Khách hàng một công ty chuyên nghiệp, tin cậy và hùng mạnh.

                    </p>
                    <p>
                        Hiện nay, Công Ty LT đã cung ứng dịch vụ cho hàng trăm ngàn lượt khách hàng, đặc biệt là các dự án thuộc khối ngân sách cũng như công ty đã ký được nhiều hợp đồng lớn cung cấp ô tô nhập khẩu, ô tô chuyên dùng cho các ngành Y tế, An ninh – Quốc phòng, Ngân hàng, Viễn thông truyền hình, Môi trường đô thị, Giao thông công chính,.. và đã cung cấp cho nhiều dự án ODA thuộc nguồn vốn Ngân hàng thế giới, ngân hàng ADB, nguồn vốn ngân sách trong nước, và các quỹ tín dụng khác.
                        
                    </p>
                      -->
				
				</div>
				
			</div>
			<div class="image-section">
				<img src="assets/bg.jpg">
			</div>
		</div>
	</div>

	
</body>
</html>