<!DOCTYPE html>
<html>
<head>
	<title>About Us Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	
</head>	
<app-layout *ngIf="!isadmin"></app-layout>
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>{{nameCompany}}</h3>
                    <p> Số điện thoại: {{phoneNumber}}</p>  
                    <p>Số Fax: {{fax}}</p> 
                    <p>
                        Email: {{email}}
                    </p>
					<p>Địa chỉ : {{address}}</p>
                    <p>
                        {{description}}
                    </p>
                
				
				</div>
				
			</div>
			<div class="image-section">
				<img src="assets/bg.jpg">
			</div>
		</div>
	</div>

	
</body>
</html>