
<!DOCTYPE html>
<html lang="en">
<head>
<title>Space Login Form Flat Responsive Widget Template :: w3layouts</title>

<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Space Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
<!-- //Online-fonts -->

</head>
<app-layout></app-layout>
<body >
	<!-- main -->
	<div  class="main">
		<div class="main-w3l">
			<br>
			<h1  class="logo-w3"> LTSHOWROOM</h1>
			<div class="w3layouts-main">
				<h2><span>Login now</span></h2>
				
					
					<form [formGroup]="formGroupresetpass" (ngSubmit)="Resetpassword()">
						<input placeholder="Username or Email" formControlName="email" name="Email" type="email" required>
					
						<input type="submit" value="Sign in" name="login">
                       
					</form>
					
                    <h6><a [routerLink]='["/signin"]'>Sign up</a></h6>
			</div>
		
		</div>
	</div>


	
	  

</body>

</html>
