<app-layout></app-layout>
<div class="content">
    <div class="content_top">
        <div class="heading">

            <h3></h3>

            <a style="cursor: pointer;" *ngFor="let data of arrayCompany"
                (click)="searchcarbycompany(data.carCompanyName)"> {{data.carCompanyName}} || </a>




        </div>
        <div class="see">
            <h5><a style="color:red" [routerLink]='["/carcomparison"]'>Danh sách so sánh </a> <a *ngIf="isLogin"
                    style="color:red" [routerLink]='["/listbookinguser"]'> || Booking</a></h5>
            <p></p>
        </div>
        <div class="clear"></div>
    </div>
 
    <div class="section group">

        <div *ngFor="let data of array">
            <div class="grid_1_of_4 images_1_of_4">
                <a style="cursor: pointer;" (click)="currentcar(data._id)"><img src="{{data.Image}}" alt="" width="264"
                        height="175" /></a>
                <br>
                <span (click)="currentcar(data._id)" style="color:red;cursor: pointer;"> {{data.carName}} </span>

                <div class="price-details">

                    <div class="price-number">
                        <h1 style="text-align:left"><span style="color:cadetblue" class="rupees"> Xuất xứ :
                                {{data.origin}}</span> </h1> <br />
                        <h1 style="text-align:left "><span style="color:cadetblue" class="rupees"> Năm sx
                                :{{data.yearOfManufacture}} </span> </h1> <br />
                        <h1 style="text-align:left "><span style="color:cadetblue" class="rupees"> Màu sắc
                                :{{data.colour}}</span> </h1> <br />

                        <p><span class="rupees"> Giá : {{data.price}} </span></p>


                    </div>

                    <div class="add-cart">

                        <h4 *ngIf="isLogin"><a style="cursor: pointer;"
                                (click)="booking(data._id,data.carName)">Booking</a></h4> <br>
                        <h4 *ngIf="!isLogin"><a style="cursor: pointer;">Login to book</a></h4> <br>
                        <h4><a style="cursor: pointer;" (click)="comparecar(data._id)">So Sánh</a></h4>


                    </div>


                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div *ngIf="nocar" style="text-align: center;font-size: 20px;"> There are no products from this {{nameCompany}}
            company </div>





    </div>


</div>