.contain{
    position: absolute;
    width: 1200px;
    height: 300px;
    left: 300px;
    top: 100px;
    text-align: center;
  }
 .newproduct{
    position: absolute;
    width: 800px;
    height: 50px;
    left: 300px;
    top: 20px;
    text-align: left;
 }
 .download
 {
   position: absolute;
   width: 800px;
   height: 100px;
   left: 300px;
   top: 150px;
   text-align: left;
 }
 @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
.content{
    position: absolute;
    left: 300px;
    top:0px;
}
.btneditabout
{
    position: absolute;
    left: 700px;
    top:110px;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f3f3;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 650px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 35%;
  /* background: linear-gradient(to right,#01a9ac,#01dbdf); */
  background: #007bff;
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4{
  margin-bottom: 10px;
}

.wrapper .left p{
  font-size: 12px;
}

.wrapper .right{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects{
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
  width: 150%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapper .social_media ul{
  display: flex;
}

.wrapper .social_media ul li{
  width: 200px;
  height: 45px;
  /* background: linear-gradient(to right,#01a9ac,#01dbdf); */
  background: #007bff;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .social_media ul li a{
  color :#fff;
  display: block;
  font-size: 18px;
}



body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #007bff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 120px;
  opacity: 0.9;
    color: black;
    font-size: 15px;

 
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
 
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: center;
  width: 70%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 0px;
}


/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 4% auto 15% 40%; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

.contain{
    position: absolute;
    width: 1100px;
    height: 300px;
    left: 300px;
    top: 220px;
    text-align: center;
  }
 .newproduct{
    position: absolute;
    width: 800px;
    height: 50px;
    left: 300px;
    top: 50px;
    text-align: left;
 }


 /* input.ng-untouched.ng-pristine.ng-invalid
 {
   border-left: 5px solid red;
 } */
 input.ng-dirty.ng-valid.ng-touched
 {
   border: 2px solid forestgreen;
 }
 input.ng-pristine.ng-invalid.ng-touched
 {
   border-left: 5px solid red;
   
  
 }
 .inputprice{
   width: 100%;
   padding: 15px;
   margin: 5px 0 22px 0;
   display: inline-block;
   border: none;
   background: #f1f1f1;

 }
 .updateimg{
   background-color: #007bff;
   color: white;
   padding: 10px 10px;
   margin: 8px 0;
   border: none;
   border-radius: 15px;
   cursor: pointer;
   width: 170px;
   opacity: 0.9;
     color: black;
     font-size: 15px;
 
 }
input.inputsearch
{ position: absolute;
   top:120px;
   left: 600px;
   width: 400px;
   height: 30px;
   border: 3px solid black;
background-color: white;   
}
button.btnsearch
{ position: absolute;
   top:120px;
   left: 1040px;
   width: 100px;
   height: 30px;
 padding: 5px 0;
background-color: #007bff;   
}
button.btnallcar
{ position: absolute;
   top:150px;
   left: 300px;
   width: 100px;
   height: 30px;
 padding: 5px 0;
background-color: #007bff;   
}
