<!DOCTYPE HTML>
<html>
	<head>
		<title>PHPJabbers.com | Free Car Dealer Website Template</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
	</head>
    <app-layout></app-layout>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				
			

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Find Car Today</h1>
							</header>
							<div class="content">
								<p>Liên hệ chúng tôi để tìm được xe mà bạn thích</p>
								<ul class="actions">
									<li><a [routerLink]='["/contactus"]' class="button next scrolly">Contact us</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">
							
							
							<section class="tiles">
								<article >
									<span  class="image">

										<img  src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="kjkkkkkk" />
									</span>

									<header class="major">
										<p style="top: 3px;">
											<i class="fa fa-dashboard"></i> 1300km 
											<i class="fa fa-cube"></i> 1800cc
											
										</p>

										<h4>BMW I8</h4>

										<p><del>$11199.00</del> <strong> $11179.00</strong></p>

										

										

										<div class="major-actions">
											<a href="car-details.html" class="button small next">View Car</a>
										</div>
									</header>
								</article>
								<article >
									<span  class="image">

										<img  src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="kjkkkkkk" />
									</span>

									<header class="major">
										<p>
											<i class="fa fa-dashboard"></i> 1300km 
											<i class="fa fa-cube"></i> 1800cc
										</p>

										<h4>BMW I8</h4>

										<p><del>$11199.00</del> <strong> $11179.00</strong></p>

										

										

										<div class="major-actions">
											<a href="car-details.html" class="button small next">View Car</a>
										</div>
									</header>
								</article>
								<article >
									<span  class="image">

										<img  src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="kjkkkkkk" />
									</span>

									<header class="major">
										<p>
											<i class="fa fa-dashboard"></i> 1300km
											<i class="fa fa-cube"></i> 1800cc&nbsp;&nbsp;
											
										</p>

										<h4>BMW I8</h4>

										<p><del>$11199.00</del> <strong> $11179.00</strong></p>

										

										

										<div class="major-actions">
											<a href="car-details.html" class="button small next">View Car</a>
										</div>
									</header>
								</article>
								<article >
									<span  class="image">

										<img  src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="kjkkkkkk" />
									</span>

									<header class="major">
										<p>
											<i class="fa fa-dashboard"></i> 1300km 
											<i class="fa fa-cube"></i> 1800cc&nbsp;&nbsp;
											
										</p>

										<h4>BMW I8</h4>

										<p><del>$11199.00</del> <strong> $11179.00</strong></p>

										

										

										<div class="major-actions">
											<a href="car-details.html" class="button small next">View Car</a>
										</div>
									</header>
								</article>
								<article >
									<span  class="image">

										<img  src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="kjkkkkkk" />
									</span>

									<header class="major">
										<p>
											<i class="fa fa-dashboard"></i> 1300km
											<i class="fa fa-cube"></i> 1800cc&nbsp;&nbsp;
											
										</p>

										<h4>BMW I8</h4>

										<p><del>$11199.00</del> <strong> $11179.00</strong></p>

										

										

										<div class="major-actions">
											<a href="car-details.html" class="button small next">View Car</a>
										</div>
									</header>
								</article>

								<article >
									<span  class="image">

										<img  src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="kjkkkkkk" />
									</span>

									<header class="major">
										<p >
											<i class="fa fa-dashboard"></i> 1300km 
											<i class="fa fa-cube"></i> 1800cc&nbsp;&nbsp;
											
										</p>

										<h4>BMW I8</h4>

										<p><del>$11199.00</del> <strong> $11179.00</strong></p>

										

										

										<div class="major-actions">
											<a href="car-details.html" class="button small next">View Car</a>
										</div>
									</header>
								</article>
							

								
							</section>
							
							
							<section>
								<div class="inner">
									<header class="major">
										<h2>About us</h2>
									</header>
										<p style="text-align: left;">
									   Công Ty Cổ Phần Xuất Nhập Khẩu Xe LT được thành lập tháng 12 năm 2020 bởi một số cổ đông chủ chốt của các công ty lớn giàu kinh nghiệm trong lĩnh vực ô tô như: Công ty LD SX ô tô Ngôi sao, Công ty LD Ôtô Deawoo (Vidamco), hệ thống showroom ô tô nhập khẩu - LT, hệ thống cơ sở hạ tầng được đầu tư xây dựng đồng bộ và hiện đại trên diện tích gần 4000 m2. Lĩnh vực hoạt động chủ yếu của công ty:
											<br>
										</p>
										<p style="text-align: left;"> 
										✪ Đại lý ủy quyền phối xe BMW chính hãng tại Việt Nam.<br>
										✪ Đại lý xe Porche<br>
										✪ Kinh doanh, nhập khẩu xe ô tô, xe chuyên dùng và máy móc thiết bị của các hãng Toyota, Lexus, Audi, Land Rover, Mitsubishi… <br>
										✪ Sửa chữa, bảo dưỡng các loại xe ô tô. <br>
										✪ Đại lý ủy quyền phối xe BMW chính hãng tại Việt Nam.
										</p>									<ul class="actions">
										<li><a [routerLink]='["/aboutus"]' class="button next">Read more</a></li>
									</ul>
								</div>
							</section>

							<!-- Blog Posts -->
						

						
						
					</div>

			

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/fonts/fontawesome-webfont.ttf"></script>
			<script src="assets/fonts/fontawesome-webfont.svg"></script>

	</body>
</html>