<app-layoutadmin></app-layoutadmin>
<div  style="margin-left: 300px;font-size: 30px;">List booking</div><br>
<button (click)="ExportTOExcel()" style="margin-left: 300px;background-color: #82C0E7;">Download xlsx</button>
<table border="1" class="styled-table" #TABLE #table>
    <thead>
        <tr>
            <th>User name</th>
            <th>Phone number</th>
            <th>Name car</th>
            <th>Email</th>
            <th>Time</th>
            <th>Status</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of array">
            <td>{{data.userName}}</td>
            <td>{{data.phoneNumber}}</td>
            <td>{{data.carName}}</td>
            <td>{{data.email}}</td>
            <td>{{data.time}}</td>
            <td>{{data.Delete}}</td>
            <td><button (click)="deleteschedule(data._id)">Delete</button></td>
        </tr>
      
    </tbody>
</table>